@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Demo_Cart_With_DotNetMVC.Models.BookModel>

@{
    ViewData["Title"] = "HomePage";
    var mes = TempData["ThongBao"] as string;
}

<h1>@mes</h1>


<div class="row mt-4 card">
    <div class="p-2 d-flex align-items-center border-bottom border-success">
        <img style="width: 30px; height: auto" src="./img/ico_dealhot.png">&ensp;
        <strong>GỞI Ý HÔM NAY</strong>
    </div>
    <div class="card-body">
        <ul class="row list-product">
            @foreach (var book in Model)
            {
                <li class="col-md-4 col-lg-3 wow bounceIn mb-3">
                    <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@book.book_id" class="itemside border">
                        <span class="aside text-center">
                            <img src="./img/logo-mwg.png" class="img-sm">
                        </span>
                        <span class="info">
                            <span class="title" id="book-name">
                                @book.book_name <br>
                                <span class="text-muted">@book.book_author </span>
                            </span>
                            <span class="text-danger font-weight-bold" id="book-price">@book.price VNĐ</span>
                        </span>
                    </a> <br>
                </li>
            }
        </ul>
    </div>
</div>


<!--Modal: modalDiscount-->
<script src="~/js/MyCookie.min.js"></script>
<script type="text/javascript">
    if (getCookie("promo") !== "false") {

        let result = confirm("Quảng cáo nè, bạn có quan tâm không?")
        if (!result) {
            setCookie("promo", "false", 60)
        }

    }
</script>

@*//kiểm tra nếu người dùng đã đăng nhập và có giỏ hàng trên localStorage*@
@{ if (@HttpContextAccessor.HttpContext.Session.GetString("username") != null)
    {
        <script type="text/javascript">
            if (localAdapter.getCart()) {
                let listBookId = localAdapter.getCart().map(item => item.book_id).join(",");
                $.ajax({
                    type: "POST",
                    url: "/Cart/Orders?listBookId=" + listBookId,
                    success: function (value) {
                        localAdapter.clearCart();
                        cart.items = []
                    }, error: (er) => {
                        console.log(er.responseText)
                    }
                })
            }

        </script>
    } }