@model IEnumerable<Demo_Cart_With_DotNetMVC.Models.BookModel>

@{
    ViewData["Title"] = "HomePage";
}

<h1>Bookstore Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.book_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book_author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var book in Model) {
        <tr>
            <td>
                @book.book_id
            </td>
            <td>
               @book.book_name
            </td>
            <td>
                @book.book_author
            </td>
            <td>
                @book.price
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Details/1" >Giỏ hàng</a>
</td>


</tr>
}
    </tbody>
</table>
